input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.problem-container {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.feedback {
    margin-top: 20px;
    text-align: center;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

details ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
}

details li {
    margin-bottom: 0.5rem;
}

#giveUpButton {
    background-color: #f44336; /* red */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

#giveUpButton:hover {
    background-color: #d32f2f; /* dark red */
}

.mode-switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 34px;
}

.toggle-label .toggle-text {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
    transition: all 0.3s;
    color: white;
    font-weight: bold;
}

.toggle-label .toggle-text:before {
    content: "Detailed";
    left: 70%;
    z-index: 2;
    position: absolute;
}

.toggle-checkbox:checked + .toggle-label .toggle-text:before {
    content: "Simple";
    left: 10%;
}

.toggle-label .toggle-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s;
}

.toggle-checkbox:checked + .toggle-label .toggle-handle {
    left: 58px;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #4CAF50;
}
